.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: #07031C !important;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

/* Logo */
.navbar-brand{
  margin-top: 3%;
}
.navbar-brand img {
  width: 80%;
}

/* Centrar los links */
.navbar-nav {
  gap: 25px;
}

/* Íconos escritorio */
.icons-area{
   gap: 10px;
}
.icons-area i {
  font-size: 1.3rem;

}

.nav-link {
  color: #f8f9fa !important;
  font-weight: bold;
  font-size: 16px;
}

.nav-link:hover {
  color: #F20530 !important;
}

/* HAMBURGUESA */
.navbar-toggler {
  border-color: white;
}

/* Ajustes móvil */
@media (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 1rem;
  }

  .navbar-nav {
    gap: 10px;
    margin-top: 15px;
  }

  .icons-area {
    display: none !important;
  }
}
