<div class="container d-flex flex-column justify-content-center align-items-center vh-100">

  <div class="p-2">
    <img src="assets/logo.svg">
  </div>

  <div class="login-box p-4 shadow-lg">

    <h3 class="text-center mb-4 login-title">Iniciar Sesión</h3>

    <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)" novalidate>

      <!-- EMAIL -->
      <div class="mb-3">
        <label class="login-title">Email</label>

        <input
          type="email"
          class="form-control login-input"
          name="email"
          required
          email
          [(ngModel)]="email"
          #emailInput="ngModel"
        >

        <!-- ERRORES EMAIL -->
        <div class="text-danger small" *ngIf="emailInput.invalid && emailInput.touched">
          <span *ngIf="emailInput.errors?.['required']">Debe ingresar un correo.</span>
          <span *ngIf="emailInput.errors?.['email']">Formato de correo inválido.</span>
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="mb-3">
        <label class="login-title">Contraseña</label>

        <div class="input-group">
          <input
            [type]="showPass ? 'text':'password'"
            class="form-control login-input"
            required
            name="password"
            [(ngModel)]="password"
            #passwordInput="ngModel"
          >

          <button type="button" class="btn btn-outline-secondary" (click)="togglePass()">
            {{ showPass ? 'Ocultar' : 'Ver' }}
          </button>
        </div>

        <div class="text-danger small" *ngIf="passwordInput.invalid && passwordInput.touched">
          Debe ingresar una contraseña.
        </div>
      </div>

      <!-- ERROR LOGIN -->
      <div class="alert alert-danger py-2" *ngIf="error">
        {{ error }}
      </div>

      <!-- BOTÓN -->
      <button class="btn login-btn w-100" [disabled]="loginForm.invalid || loading">
        <span *ngIf="!loading">Ingresar</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </button>

    </form>
  </div>
</div>

