.container{
  padding-top: 15%;
  padding-bottom: 20%;
}
.card{
  background-color: #10044F !important;
}
.conten{
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  color: white;
}
.conten h5{
  font-weight: bold;
}
.nothing{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}
.nothing p{
  font-size: large;
  font-weight: bold;
}
.no-product{
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #10044F;
    padding: 20px;
    border-width: 2px;
    border-radius: 10px;
    border-color: white;
}
@media (max-width: 768px) {
  .container{
  padding-top: 30%;
}
}