.btn-group .btn {
  border-radius: 5px;
  margin-right: 8px;
  font-size: 14px;
  background-color: #2B57D9;
  border-width: 0px;
}
.text-muted{
  font-size: 18px;
  font-weight:bold;
  color: white !important;
}
